<div class="container-fluid category-region">
    <div class="card">
        <form id="category-form">
            <div class="card-body">
                    <input class="form-control" id="inputContent" type="text" placeholder="Name" name="name" value="{{name}}" required>  
            </div>
            <div class="card-footer">
                <div class="col align-self-start" >
                    <button type="submit" id="save-button" class="btn btn-success">Save</button>
                    <button type="button" id="cancel-button" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>