{{#if isLoggedIn}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" id="home-link" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" id="informations-link" href="#">Informations</a>
          <a class="dropdown-item" id="comments-link" href="#">Comments</a>
          {{#if isAdmin}}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="all-user-link" href="#">All users</a>
          {{/if}}
        </div>
      </li>
      {{#if isAdmin}}
      <li class="nav-item">
        <a class="nav-link" id="add-user-link" href="#">Create user</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="add-article-link" href="#">Create article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="add-category-link" href="#">Create category</a>
      </li>
      {{/if}}
      <li class="nav-item">
        <button class="btn btn-danger" id="logout-button">Logout</a>
      </li>
    </ul>
    <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="collapse" data-target="#search-menu" aria-expanded="false" aria-controls="search-menu">Search menu</button>
    <div class="col-4">
      <div class="collapse" id="search-menu">
        <form class="form-inline my-2 my-lg-0" id="search-form">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="words" required>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="options-search" value="article" autocomplete="off" checked> Article
            </label>
            {{#if isAdmin}}
              <label class="btn btn-secondary">
                <input type="radio" name="options-search" value="user" autocomplete="off"> User
              </label>
            {{/if}}
          </div>
          <button type="submit" class="btn btn-primary" id="search-button">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
{{/if}}