<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{title}}
            </h5>
            <p class="card-text">{{content}}</p>
        </div>
        <div class="row card-footer text-muted">
            <div class="col align-self-start" >
                {{#if isCreator}}
                <button type="button" id="modify-button" class="btn btn-primary">Modify</button>
                <button type="button" id="remove-button" class="btn btn-danger">Remove</button>
                {{/if}}
            </div>
            <div class="col align-self-center text-right align-middle h-100 d-inline-block">
                {{articlePostTime}}
            </div>
        </div>
    </div>
</div>