<div class="row">
    <div class="col-2">
        <h5>{{name}}</h5>
    </div>
    <div class="col-sm">
        <p>{{content}}</p>
    </div>
    <div class="col-auto">
        {{#if isAdmin}}
            <button type="button" class="close" id="remove-comment-button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        {{/if}}
        </br>
        {{commentPostTime}}
    </div>
</div>