<div class="container-fluid article-region">
    <div class="card">
        <div class="card-body" id="showDetail">
            <h5 class="card-title">{{title}}
            </h5>
            <p class="card-text">{{content}}</p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-2 align-self-end text-right h-100 d-inline-block">
                    {{articlePostTime}}
                </div>
            </div>
        </div>
    </div>
</div>